@using WebApplicationMVC.Data;
@{
    ViewData["Title"] = "Home Page";
}
@model List<WorkItem>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr>
                 <td>@item.Name</td>
                    <td>@item.Description</td>
             </tr>   
            }
        </tbody>
    </table>
</div>
